* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  body{
   
      background-image: url(./../images/background.png);
 
    
  }
  
  .contactUs {
    position: relative;
  
    width: 100%;
    padding: 20px 100px;
   
  }
  
  .contactUs .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 4vh;
    text-decoration: underline;
    color: #22B286;
  }
  
  .contactUs .title h2 {
    color: #008080 ;
    font-weight: 500;
  }
  
  .form {
    grid-area: form;
  }
  
  .info {
    grid-area: info;
  }
  
  .map {
    grid-area: map;
  }
  
  .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 3fr;
    grid-template-areas:
      "form info"
      "form map";
    grid-gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .contact { 
    padding: 40px;    /*changes 40px*/
    background: rgb(243, 238, 238); 
    box-shadow: 0 5px 35px lightgray;
    border-radius: 10px;
  }
  
  .contact h3 {
    color: beige;
    font-size: 1.5rem;
    font-weight: 500;
    /* margin-bottom: 10px; */
  }
  
  
  .formBox {
    position: relative;
    width: 100%;
  }
  .formBox .row1 {
    display: flex;
    gap: 20px;
  }
  
  .inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
  }
  
  .formBox .row3 .inputBox {
    width: 100%;
  }
  
  .inputBox span {
    color: #008080;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
  }
  .inputBox input {
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .inputBox textarea {
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid black;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .inputBox input[type="button"] {
    background: #008080;
    color: white;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
  }
  
  .inputBox ::placeholder {
    color: rgb(202, 200, 200);
  }
  
  .info {
    background: #008080;
  }
  
  .info h3 {
    color: white;
    padding: 20px;
  }
  .info .infobox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .info .infobox div span {
    min-width: 40px;
    height: 40px;
    color: white;
    display: flex;
    background: skyblue;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .info .infobox div p {
    color: white;
    font-size: 1.1em;
  }
  
  .info .infobox div a {
    color: white;
    font-size: 1.1em;
  }
  
  .sci {
    margin-top: 40px;
    display: flex;
  }
  
  .sci li {
    list-style: none;
    margin-right: 15px;
  }
  
  .sci li a {
    color: white;
    font-size: 2rem;
    color: #ccc;
  }
  
  .sci li a:hover {
    color: #fff;
  }
  
  .map {
    padding: 0;
    
  }
  
  .map iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  /* responsive */
  
  @media (max-width: 991px) {
    body {
      background: white;
      background-image: url("./../images/background.png");
      
     
    }
    .contactUs {
      padding: 20px;
    }
    .contactUs .title{
      font-size:1.7em;;
    }
    .box {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "form "
        "info"
        "map";
    }
  
    .formBox .row1 {
      display: flex;
      gap: 0;
      flex-direction: column;
    }
  
    .inputBox {
      width: 100%;
    }
  
    .contact {
      padding: 30px;
    }
  
    .map {
      min-height: 300px;
      padding: 0;
    }
    .contact .formBox{
      padding-right: 20px;
      grid-area: 10px;
    }
  }
  
  /* @media ( min-width: 0px),( max-width: 319px){
    .contactUs {
      padding-right: ;
    }
  } */
  
  @media only screen and(max-width:319){
    grid{margin-bottom: 10px;}
  }