#profile {
    position: relative;
}

#profile::before {
    content: "";
    background-image: url(./../images/bg-tutor.jpg);
    background-color: #FBF7F4;
    opacity: 0.07;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.user{
    display: flex;
    justify-content: flex-start;
}
.user-name{
    padding-left: 20px;
}
.user-name h4{
    font-size: 22px;
}
.user-name p{
    font-size: 13px;
}
.my_pro_primary{
    color: #384D6C;
}

.btn-success{
    color: white;
    background-color: #008080;
}

@media screen and (max-width:768px) {
    .col-md-6{
        padding-bottom: 5%;
    }
}