<footer>
  <div class="cus_upper-row">
    <div class="cus_left-side">
      <p class="fw-bold">Subscribe</p>
    </div>
    <div class="cus_right-side">
      <div class="cus_input-container">
        <input
          type="email"
          id="emailInput"
          placeholder="Enter your Email Address"
        />
        <button type="submit" onclick="subscribe()"></button>
      </div>
      <p class="subscribe-message">
        Subscribe to stay tuned for new design and latest updates. Let's do it!
      </p>
      <p id="success" class="success">Successfully subscribed to LBYH</p>
    </div>
  </div>
  <div class="cus_separator"></div>
  <div class="cus_container">
    <div class="cus_row">
      <div class="cus_col" id="company">
        <img src="Images/horizen.png" alt="" class="brand_logo" />
        <h2>L<span class="text-success">B</span>YH-CBSE</h2>
        <div class="social">
          <a
            href="https://m.facebook.com/learningbeyondyourhorizoncbse"
            target="_blank"
            class="text-center"
            ><i class="fab fa-facebook text-primary"></i
          ></a>
          <a
            href="https://youtube.com/@learningbeyondyourhorizoncbse?si=lqgXw8miD2OIpR0N"
            target="_blank"
            class="text-center"
            ><i class="fab fa-youtube text-danger"></i
          ></a>
          <a href="#" class="text-center"
            ><i class="fab fa-x-twitter text-info"></i
          ></a>
          <a
            href="https://www.linkedin.com/company/learning-beyond-your-horizon-cbse/"
            target="_blank"
            class="text-center"
            ><i class="fab fa-linkedin text-primary"></i
          ></a>
        </div>
        <p>Follow us.</p>
      </div>
      <div class="cus_col" id="Company">
        <h3>
          Company&nbsp;<span
            class="fas fa-caret-down"
            style="color: aliceblue"
          ></span>
        </h3>
        <div class="links msab">
          <a href="#about">About Us</a>
          <a href="#">Careers</a>
          <a href="#">Updates</a>
          <a href="{% url 'team' %}">Teams</a>
        </div>
      </div>
      <div class="cus_col" id="Products">
        <h3>
          Services&nbsp;<span
            class="fas fa-caret-down"
            style="color: aliceblue"
          ></span>
        </h3>

        <div class="links msab">
          <a href="#">Illustration</a>
          <a href="#">LBYH app Learning</a>
          <a href="#">Sessions</a>
          <a href="#">Trend</a>
        </div>
      </div>
      <div class="cus_col" id="links">
        <h3>
          Quick Links&nbsp;<span
            class="fas fa-caret-down"
            style="color: aliceblue"
          ></span>
        </h3>

        <div class="links msab">
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Our Policy</a>
          <a href="#">Help</a>
        </div>
      </div>
      <div class="cus_col" id="contact">
        <h3>
          Contact Us&nbsp;<span
            class="fas fa-caret-down"
            style="color: aliceblue"
          ></span>
        </h3>
        <div class="links msab">
          <div class="contact-details">
            <i class="fa fa-location-dot"></i>
            <p><a style="text-decoration: none;color: white;" href="https://www.google.com/maps/place/India/@19.6800676,60.9453401,4z/data=!3m1!4b1!4m6!3m5!1s0x30635ff06b92b791:0xd78c4fa1854213a6!8m2!3d20.593684!4d78.96288!16zL20vMDNyazA?entry=ttu">Nawab City, Lucknow</a></p>
          </div>
          <div class="contact-details">
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:lbyh@gmail.com" style="text-decoration: none;color: white;">lbyh@gmail.com</a></p>
          </div>
          <div class="contact-details">
            <i class="fa fa-phone"></i>
            <p>+1-8745734367</p>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      &copy; Copyright@2024 LBYH-CBSE All rights reserved.
    </div>
  </div>
</footer>
