{% extends 'base.html' %}

{% block content %}
<div class="text-center mt-4 mb-4">
    <h2 class="text-muted">Change Password</h2>
</div>
<div class="col-md-6 offset-md-3 mb-4">
    <form action="{% url 'change_password' %}" method="POST">
        {% csrf_token %}
        <label for="old_password"><b> Old Password</b></label>
    <div class="form-group passfield">
        
        <input type="password" name="old_password" id="crackpass" class="form-control" placeholder="Enter Your old Password" required>
        <span
              ><i onclick="myFunction()" class="fa-solid fa-eye-slash"></i
            ></span>
        {% for error in form.old_password.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
    </div>
        <label for="id_password1"><b> New Password</b></label>
    <div class="form-group passfield">
        
        <input type="password" name="password1" id="crackpass" class="form-control" placeholder="Create your Password" required>
        <span
              ><i onclick="myFunction()" class="fa-solid fa-eye-slash"></i
            ></span>
        {% for error in form.password1.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
    </div>
    <label for="id_password2"><b>Confirm Password</b></label>
    <div class="form-group passfield">
        
        <input type="password" name="password2" id="crackpass" class="form-control" placeholder="Confirm your Password" required>
        <span
              ><i onclick="myFunction()" class="fa-solid fa-eye-slash"></i
            ></span>
        
    </div>
        <button type="submit" class="btn btn-secondary">Change</button>
    </form>
</div>
{% endblock content %}