{% extends 'base.html' %}
{% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/contact.css'%}" />

{% endblock %} 
{% include 'navbar.html' %}
{% block content %}
<div class="contactUs">
    <div class="title">
      <h2><b>Contact Us</b></h2>
    </div>

    <div class="box">
      <div class="contact form">
        
        <form action="{% url 'contact' %}" method="POST">
        {% csrf_token %}
          <div class="formBox">
            <div class="row1">
              <div class="form-group inputBox">
                <span>First Name</span>
                <input type="text" name="first_name" class="form-control" placeholder="First Name" required/>
              
              </div>
              <div class="form-group inputBox">
                <span>Last Name</span>

                <input type="text" name="last_name" class="form-control" placeholder="Last Name" required/>
              </div>
            </div>
            
            <div class="row3">
              <div class="form-group inputBox">
                <span>E-mail</span>
                <input type="email" name="email" class="form-control" placeholder="Enter Your Mail" required/>
              </div>
            </div>

            <div class="row3">
              <div class="form-group inputBox">
                <span>Message</span>
                <textarea class="form-control" name="message" placeholder=" Write your message here" required></textarea>
                
              </div>
            </div>

            <div class="row3">
              <input type="submit" class="btn btn-success cus_btn" style="width: 7rem;"/>
            </div>
          </div>
        </form>
      </div>
      <div class="contact info">
        <h3>Contact Info</h3>
        <div class="infobox">
          <div>
            <span><i class="fa-solid fa-location-dot"></i></span>
            <p><a href="https://www.google.com/maps/place/India/@19.6800676,60.9453401,4z/data=!3m1!4b1!4m6!3m5!1s0x30635ff06b92b791:0xd78c4fa1854213a6!8m2!3d20.593684!4d78.96288!16zL20vMDNyazA?entry=ttu">Weekend UX
              B 37/3 Ground Floor Double 
              Lucknow Uttar Pradesh India</a></p>
          </div>
          <div>
            <span><i class="fa-solid fa-envelope text-white"></i></span>
            <a href="mailto:lbyh@gmail.com">lbyh@info.com</a>
          </div>
          <div>
            <span><i class="fa-solid fa-phone"></i></span>
            <a href="callto:+911234567890">+91 1234 567 890</a>
          </div>
          <ul class="sci">
            <li>
              <a href="https://m.facebook.com/learningbeyondyourhorizoncbse" target="_blank" class="text-center"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="#" class="text-center"><i class="fab fa-x-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/learning-beyond-your-horizon-cbse/" target="_blank" class="text-center"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
              <a href="https://youtube.com/@learningbeyondyourhorizoncbse?si=lqgXw8miD2OIpR0N" target="_blank" class="text-center"><i class="fab fa-youtube"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="contact map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3766.848689297996!2d73.11597327489149!3d19.24542508199441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be79584b6f57b1f%3A0xc6d46de93a61afba!2skalyan%20bhiwandi!5e0!3m2!1sen!2sin!4v1706286186015!5m2!1sen!2sin"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
{% include 'footer.html' %}
{% endblock content %}