{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/register.css'%}" />

{% endblock %} 
{% include 'navbar.html' %}
{% block content %}

<center>
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
      </button>
      {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <section class="login">
    <h5>Welcome to LBYH-CBSE..!</h5>
    <br />
    <div class="main_button">
      
      <button id="login_btn2">Login</button>
      <button id="register_btn2"><a href="{% url 'register' %}">Register</a></button>
    </div>
    <br />
    <p id="subtitle"><b>Welcome back!</b> <br> Login to continue your learning adventure.</p>
   
      <form action="{% url 'login' %}" method="POST" class="input_container">
          {% csrf_token %}
          <div class="form-group">
              <label for="username"><b>Username</b></label>
              <input type="text" class="form-control" name="username" id="username" placeholder="Enter your User Name" required>
          </div>
          <label for="id_password1"><b>Password</b></label>
          <div class="form-group passfield">
              
              <input type="password" name="password" id="crackpass" class="form-control" placeholder="Enter your Password" required>
              <span
                  ><i onclick="myFunction()" class="fa-solid fa-eye-slash pe-2"></i
                  ></span>
              
          </div>
          <div class="checkbox">
              <div class="checkit">
                <input type="checkbox" id="check_input" />
                <p id="para">Rememebr me</p>
              </div>
              <a href="{% url 'password_reset' %}"><p id="para">Forgot Password?</p></a>
            </div>
            <input class="r-btn" type="submit" />
      </form>
      
    </div>
  </section>
</center>
  <script>
    function myFunction() {
      var x = document.getElementById("crackpass");
      var icon = document.querySelector(".passfield i");
    if (x.type === "password") {
      x.type = "text";
      icon.classList.remove("fa-eye-slash");
      icon.classList.add("fa-eye");
    } else {
      x.type = "password";
      icon.classList.remove("fa-eye");
      icon.classList.add("fa-eye-slash");
    }
      }
  </script>
 
{% endblock content %}