{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/team.css'%}" />

{% endblock %} {% block content %}

<div id="set_bg">
  <div class="heading">
    <h1 class="text-center p-3">OUR TEAM</h1>
  </div>
  <div class="m-5">
    <div class="container">
      <center>
        <div class="grid">
          <div class="row">
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/Kanishk Gupta.jpg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Kanishk Gupta</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  FOUNDER
                </p>
                <!-- <p class="px-3">Kanishk Gupta is the founder of Learning beyond your horizon CBSE which provides an accessible, comprehensive, and state-of-the-art learning experience. At Learning beyond your horizon CBSE we believe in the power of digital technology to help students get personalized learning and attention from India's best-in-class science and math tutors. We are focused on creating a top-class e-learning platform that brings together the best teachers, technology, media, content for creating a seamless and world-class experience for every student.</p> -->
                <p class="px-3">
                  Kanishk Gupta is the founder of Learning beyond your horizon
                  CBSE which provides an accessible, comprehensive, and
                  state-of-the-art learning experience.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/kanishkg-lbyh-g-bb0770234/"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="#"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/Aditya SHRIVASTAVA.jpeg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Aditya Srivastava</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  CO-FOUNDER
                </p>
                <p class="px-3">
                  I am very passionate in Digital marketing and Recruitment
                  profile. And I have good convincing skills. Eager to leverage
                  expertise in both fields to drive impactful results.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/aditya-srivastava-5ba982107/"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="#"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/Vansh Saini_resized.jpg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Vansh Saini</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  PROJECT LEAD / FULL STACK DEVELOPER
                </p>
                <p class="px-3">
                  Proficient in frontend, backend and database technologies,
                  adept at architecting scalable systems, optimizing user
                  interfaces, and orchestrating data management.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/vansh-saini-3a7b4819a?"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/thevanshs"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-lg-5">
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/Fayeza Zobair.jpg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Fayeza Zobair</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  UI/UX LEAD & FRONTEND DEVELOPER
                </p>
                <p class="px-3">
                  Skilled UI/UX developer proficient in frontend development,
                  known for staying ahead, ensuring innovative solutions.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/fayeza-zobair-8a739621a"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/FAYEZA-ZOBAIR"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/Yuva Prakash Sai.jpg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Yuva Prakash Sai G.</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  FRONTEND LEAD
                </p>
                <p class="px-3">
                  A dedicated front-end developer expanding skills to backend
                  development, aspiring to become a proficient full-stack
                  developer.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/yuva-prakash-sai-gunupuru-059204227"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/Yuvaprakash24"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/Sonal.jpg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Sonal Varshney</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  BACKEND DEVELOPER LEAD
                </p>
                <p class="px-2">
                  Passionate student seeking SDE role, skilled in C++, Java,
                  Python, React. Experienced in web development and machine
                  learning projects.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/sonalvarshney"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://www.github.com/sonal-spd"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-lg-5">
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/Kushagra Mishra.jpg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Kushagra Mishra</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  ASSISTANT UI/UX LEAD & FRONTEND DEVELOPER
                </p>
                <p class="px-4">
                  Proficient in building landing pages for Websites using Figma
                  and Experienced in using Front-End development tools.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/kushagra4uh/"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/kushagra4uh"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/Ansari Meraj.jpg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Mohd Meraj Ansari</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  ASSISTANT FRONTEND LEAD
                </p>
                <p class="px-2">
                  A dedicated and detail-oriented Full Stack Developer with a
                  Bachelor's degree in Engineering and a passion for creating
                  robust and user-friendly web applications.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/meraj-ansari-4b37bb190?"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/Meraj-7002"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/Vaishnavi Kasera.jpeg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Vaishnavi Kasera</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  ASSISTANT BACKEND DEVELOPER LEAD
                </p>
                <p class="px-2">
                  Resilient, adaptable Backend Developer with a keen appetite
                  for learning, tackling challenges with positivity and
                  problem-solving prowess.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/vaishnavi-kasera-682a74250/"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/vasu112233"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-lg-5">
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/Varshaa_resized.jpg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Varsha Singh</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  FRONTEND DEVELOPER & WEBSITE TESTER
                </p>
                <p class="px-2">
                  Proactive frontend intern skilled in UI design and meticulous
                  testing. Driven by a passion for creating user-centric
                  experiences and ensuring quality software.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/varsha-singh-57283a255"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/Varsha-Singh14"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/riya_resized.jpg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Riya Banerjee</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  FRONTEND DEVELOPER & WEBSITE TESTER
                </p>
                <p class="px-2">
                  A Frontend React developer seeking new challenges, eager to
                  build functional web applications. Diligent tester, ensuring
                  seamless user experiences.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/riya-banerjee29/"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/RiyaBanerjee29"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/Såmîkshâ Srïvåstavã_resized.jpg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Samiksha Srivastava</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  FRONTEND DEVELOPER
                </p>
                <p class="px-4">
                  Seasoned frontend developer adept in React JS, crafting
                  dynamic, pixel-perfect interfaces to enhance user engagement
                  and satisfaction.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/samiksha-srivastava-417235208"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/samiksha0409"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-lg-5">
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/Dhananjay Dakhole.png"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Dhananjay Dakhole</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  UI/UX DESIGNER & FRONTEND DEVELOPER
                </p>
                <p class="px-4">
                  A frontend developer with a passion for creating beautiful and
                  user-friendly web applications.And a skillful UI/UX designer.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/dhananjay-dakhole"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/DhananjayDakhole"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/Harshit Sahu.jpg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Harshit Sahu</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  FRONTEND DEVELOPER & DATA COLLECTOR
                </p>
                <p class="px-3">
                  Frontend developer exploring MERN stack. Enthusiastic about
                  user interfaces and expanding skills to become a proficient
                  full-stack developer.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://linkedin.com/in/harshit-sahu-1ba848218"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/iharshitsahu"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/Avinash Ghanghav_resized.jpg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Avinash Ghanghav</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  FRONTEND DEVELOPER
                </p>
                <p class="px-2">
                  A frontend developer specializing in responsive design and
                  user experience. Loves coding, and learning, with a strong
                  desire to user-friendly websites.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/avinashghanghav"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/Avinash9997"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-lg-5">
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/Tejaswi Gaikwad_resized.jpg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Tejaswi Gaikwad</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  FRONTEND DEVELOPER
                </p>
                <p class="px-2">
                  Proficient frontend developer adept in HTML, CSS, JS. Quick
                  learner mastering new web development technologies swiftly,
                  ensuring cutting-edge solutions.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/tejaswi-gaikwad-600556247"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/tejaswi-28/"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/pratik nikam.jpg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Pratik Raju Nikam</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  UI/UX DESIGNER & FRONTEND DEVELOPER
                </p>
                <p class="px-2">
                  As a web developer, I'm passionate about crafting
                  user-friendly and responsive websites. On a journey to
                  becoming a skillful fullstack developer.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/nikam-pratik/"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/Pratik2009"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/vara prasad.JPG"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>M.S.L Vara Prasad</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  FRONTEND DEVELOPER & DATA COLLECTOR
                </p>
                <p class="px-4">
                  Frontend developer skilled in creating engaging web
                  interfaces. Passionate about innovation and user-centric
                  design.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/shiva-laxmi-vara-prasad-m-37950b25b/"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/varaprasad06112003"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-lg-5">
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/saurabh karnwal_resized.jpg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Saurabh Karnwal</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  FRONTEND DEVELOPER
                </p>
                <p class="px-4">
                  I'm a frontend developer diving into MERN stack. I love
                  creating user-friendly interfaces and I'm on the journey to
                  full-stack expertise.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/saurabh-karnwal-67a920276/"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/saurabh11x"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/HIMANSHU CHAURASIYA.png"
                    alt=""
                    srcset=""
                    width="25%"
                    style="height: 13.3rem"
                  />
                </center>
                <h3>Himanshu Chaurasiya</h3>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  FRONTEND DEVELOPER
                </p>
                <p class="px-2">
                  Skilled MERN developer creating scalable, user-friendly web
                  apps, prioritizing high-quality code, performance
                  optimization, and problem-solving.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/himanshu-chaurasiya1818"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/himanshuChaurasiya-2"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/Sushant Kumar_resized.jpeg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Sushant Kumar</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  FRONTEND DEVELOPER
                </p>
                <p class="px-2">
                  I am a detail-orientated frontend developer want to convert
                  the ui/ux design in the best possible code with good
                  readability and functionality.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/sushantkumar001"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/sushantk007"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-lg-5">
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/Yaparala Nagendra.jpg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Yaparala Nagendra</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  UI/UX DESIGNER & FRONTEND DEVELOPER
                </p>
                <p class="px-3">
                  Passionate front-end developer with a proven track record in
                  crafting user interfaces, proficient in various projects, and
                  dedicated to continuous learning.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/nagendra-yaparala-18111919b/"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/Nagendra-Yaparala"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/Ashutosh Mishra_resized.jpg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Ashutosh Mishra</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  FRONTEND DEVELOPER
                </p>
                <p class="px-4">
                  Enthusiastic Frontend Developer adept in HTML, CSS, JavaScript
                  and React, eager to contribute innovative solutions and learn
                  continuously.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://www.linkedin.com/in/ashutoshdev"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/Ashutosh963"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center text-white">
                <center>
                  <img
                    class="card-img-top p-4 text-center"
                    src="./../../../static/images/Raj kumar Singh.jpg"
                    alt=""
                    srcset=""
                    width="20%"
                  />
                </center>
                <h2>Raj Kumar Singh</h2>
                <p
                  class="text-white"
                  style="font-size: smaller; font-weight: 500"
                >
                  FRONTEND DEVELOPER
                </p>
                <p class="px-3">
                  A meticulous and committed Frontend Developer, driven by a
                  fervent dedication to crafting resilient and intuitive web
                  applications.
                </p>
                <div class="pb-2">
                  <a
                    class="text-decoration-none text-white"
                    href="https://linkedin.com/in/raj-kumar-singh-3a4b87200/"
                    target="_blank"
                    ><i class="fab fa-linkedin fa-2x pe-3"></i
                  ></a>
                  <a
                    href="https://github.com/raj434"
                    class="text-decoration-none text-white"
                    target="_blank"
                    ><i class="fab fa-github fa-2x"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </center>
    </div>
  </div>
</div>
{% include 'footer.html' %} {% endblock content %}
